.sample {
    background: #fff;
    border: 1px solid #d4dce3;
    border-radius: 3px;
    &_title {
        text-align: center;
        border-bottom: 1px solid #d4dce3;
        padding: 10px 0;
        color: #696969;
        font-weight: bold;
        font-size: 15px;
    }
    &_player {
        width: 100%;
    }
}