.nav {
    background: #292c34;
    display: flex;
    justify-content: center;
    &_wrapper {
        display: flex;
        flex: 0 1 900px;
        align-items: center;
    }
    &_separator {
        border-right: 1px solid #3e4550;
        height: 24px;
    }
    &_link {
        display: flex;
        align-items: center;
        flex: 0 0 auto;
        height: 55px;
        padding: 0 25px;
        font-size: 14px;
        color: #fff;
        text-decoration: none;
        position: relative;
        &_border {
            position: absolute;
            background: #dd431d;
            height: 0px;
            left: -1px;
            right: -1px;
            bottom: 0px;
            transition: all .14s ease-in-out;
        }
        &:hover &_border,
        &.active &_border {
            display: block;
            height: 5px;
        }
    }
}