.loader {
    display: flex;
    text-align: center;
    justify-content: center;
    &_element {
        border: 16px solid #323740;
        border-top: 16px solid #dd431d;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        animation: spin 1s linear infinite;
        margin: 50px;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}