.post {
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid #d4dce3;
    border-radius: 3px;
    &_head {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #d4dce3;
        padding: 16px;
    }
    &_title {
        font-weight: bold;
        color: #4a4a4a;
        &::first-letter {
            text-transform: capitalize;
        }
    }
    &_user {
        flex: 0 0 46px;
        text-align: right;
        font-weight: bold;
        color: #39be9f;
        font-size: 12px;
    }
    &_body {
        padding: 16px;
        font-size: 14px;
        &::first-letter {
            text-transform: capitalize;
        }
    }
}