body {
    background:#f1f4f6;
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
}

h1 {
    font-size: 24px;
    color: #2f2f2f;
}

.control {
    background: #fff;
    border: 2px solid #d3dce2;
    border-radius: 5px;
    height: 32px;
    display: inline-block;
    transition: border-bottom .15s ease-in-out;
    box-shadow: none;
    outline: 0;
    outline-width: 0;
    margin-left: 10px;
    font-size: 12px;
    &.active {
        border-color: #39be9f;
    }
    &:hover {
        background: #e8e8e8;
    }
}

.no-elements {
    margin: 50px;
    color: #c7c7c7;
    font-size: 20px;
    text-align: center;
}